.Container {
    display: flex;
    flex-direction: column;
   
    }
    .Responsive-Header,.Footer {
        flex: 1;
        background-color: #211c1c;
        color: aliceblue; 
        text-align: center;
        padding: 10px;
        
    }
    .sub-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        padding: 10px;
    }
    .Main-content,.Sidebar {
        background-color: #e69090;
        padding: 20px;

    }
    @media (max-width: 600px) {
        .sub-container {
            grid-template-columns: 1fr;
        }
    }
    @media (min-width: 900px) {
        .sub-container {
            font-size: 12px;
            padding: 3px;
            grid-template-columns: 2fr 1fr;
        }
    }
    